USE [master]
GO
/****** Object:  Database [GestionDeUsuario]    Script Date: 08/02/2018 03:36:55 p.m. ******/
CREATE DATABASE [GestionDeUsuario]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestionDeUsuario', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\GestionDeUsuario.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GestionDeUsuario_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\GestionDeUsuario.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestionDeUsuario].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestionDeUsuario]
GO
/****** Object:  Schema [PDL]    Script Date: 08/02/2018 03:36:56 p.m. ******/
CREATE SCHEMA [PDL]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 08/02/2018 03:36:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 08/02/2018 03:36:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 08/02/2018 03:36:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 08/02/2018 03:36:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 08/02/2018 03:36:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 08/02/2018 03:36:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OpcionMenu]    Script Date: 08/02/2018 03:36:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpcionMenu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](300) NULL,
	[DescripcionVista] [nvarchar](300) NULL,
	[DescripcionControlador] [nvarchar](300) NULL,
	[Orden] [int] NOT NULL,
	[PadreId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.OpcionMenu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OpcionUsuario]    Script Date: 08/02/2018 03:36:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpcionUsuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MenuId] [int] NOT NULL,
	[UsuarioId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.OpcionUsuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 08/02/2018 03:36:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreDeUsuario] [nvarchar](300) NULL,
	[ClaveDeUsuario] [nvarchar](300) NULL,
 CONSTRAINT [PK_dbo.Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'825e19a6-6553-463a-8681-609c9db7aec4', N'ROLECRA')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'd25f7e24-2d05-4e3b-8700-2dc8cdb26c72', N'ROLELMI')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'73fca2e1-dc89-4f9e-aee8-fa6c1d3e2741', N'ROLLTRA')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2b5f12cf-d8ea-493b-9416-d1162bf9c9a8', N'2db58dbe-bea6-4b2d-a14b-fa44b911b242')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2b5f12cf-d8ea-493b-9416-d1162bf9c9a8', N'65b203c8-e5bd-4330-bf3e-ac50c8b3955c')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2b5f12cf-d8ea-493b-9416-d1162bf9c9a8', N'73fca2e1-dc89-4f9e-aee8-fa6c1d3e2741')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'2b5f12cf-d8ea-493b-9416-d1162bf9c9a8', NULL, 0, N'AFWc1MTn1NsUGahURJInGsgZ+oeo49T5hWUlCBm7xLKxJJ1klFIiGJTCux3f5slpRQ==', N'0cba033e-9add-4069-be69-0c319253407a', NULL, 0, 0, NULL, 0, 0, N'Administrador')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'423a5c02-671d-48ae-8c7a-1cc41bb08db3', NULL, 0, N'AIdG3gPoXk82dtXVQRIZgjglVNkHA2i206qijXbOKLfQdOHHD+vC9fy6uZMlbCg7zA==', N'1145e624-ba27-43bf-ae49-3d85d315962e', NULL, 0, 0, NULL, 0, 0, N'AdminFac')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'6ae6f0e6-99d6-45fb-95a8-c56318a133a6', NULL, 0, N'ALPpSvWERp3pDHw2YUZDQSZRH0EH67ZsGU/BtKLCRJTz8uHk/7dJOQLGl/vYxhX53A==', N'd671c2c3-472a-43cb-b426-114566e867d5', NULL, 0, 0, NULL, 0, 0, N'AdminAuthority')
GO
SET IDENTITY_INSERT [dbo].[OpcionMenu] ON 

GO
INSERT [dbo].[OpcionMenu] ([Id], [Descripcion], [DescripcionVista], [DescripcionControlador], [Orden], [PadreId]) VALUES (1, N'Ninguno', N'Ninguno', N'Ningun', 0, 1)
GO
INSERT [dbo].[OpcionMenu] ([Id], [Descripcion], [DescripcionVista], [DescripcionControlador], [Orden], [PadreId]) VALUES (2, N'Inicio', N'Index', N'Home', 1, 1)
GO
INSERT [dbo].[OpcionMenu] ([Id], [Descripcion], [DescripcionVista], [DescripcionControlador], [Orden], [PadreId]) VALUES (3, N'Catálogo', N'', N'', 2, 1)
GO
SET IDENTITY_INSERT [dbo].[OpcionMenu] OFF
GO
SET IDENTITY_INSERT [dbo].[OpcionUsuario] ON 

GO
INSERT [dbo].[OpcionUsuario] ([Id], [MenuId], [UsuarioId]) VALUES (1, 2, 1)
GO
INSERT [dbo].[OpcionUsuario] ([Id], [MenuId], [UsuarioId]) VALUES (2, 8, 1)
GO
INSERT [dbo].[OpcionUsuario] ([Id], [MenuId], [UsuarioId]) VALUES (3, 9, 1)
GO
SET IDENTITY_INSERT [dbo].[OpcionUsuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

GO
INSERT [dbo].[Usuario] ([Id], [NombreDeUsuario], [ClaveDeUsuario]) VALUES (1, N'AdminFac', N'AIdG3gPoXk82dtXVQRIZgjglVNkHA2i206qijXbOKLfQdOHHD+vC9fy6uZMlbCg7zA==')
GO
INSERT [dbo].[Usuario] ([Id], [NombreDeUsuario], [ClaveDeUsuario]) VALUES (2, N'@FArias', N'ALotkjQXQ8UCJe5ifBdH3+lzAsAgAAEj0k/xc/LjsXPva9bJbrmEehS810TKi2MSqQ==')
GO
INSERT [dbo].[Usuario] ([Id], [NombreDeUsuario], [ClaveDeUsuario]) VALUES (3, N'AdminAuthority', N'ALPpSvWERp3pDHw2YUZDQSZRH0EH67ZsGU/BtKLCRJTz8uHk/7dJOQLGl/vYxhX53A==')
GO
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 08/02/2018 03:36:57 p.m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 08/02/2018 03:36:57 p.m. ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 08/02/2018 03:36:57 p.m. ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 08/02/2018 03:36:57 p.m. ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 08/02/2018 03:36:57 p.m. ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 08/02/2018 03:36:57 p.m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PadreId]    Script Date: 08/02/2018 03:36:57 p.m. ******/
CREATE NONCLUSTERED INDEX [IX_PadreId] ON [dbo].[OpcionMenu]
(
	[PadreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MenuId]    Script Date: 08/02/2018 03:36:57 p.m. ******/
CREATE NONCLUSTERED INDEX [IX_MenuId] ON [dbo].[OpcionUsuario]
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UsuarioId]    Script Date: 08/02/2018 03:36:57 p.m. ******/
CREATE NONCLUSTERED INDEX [IX_UsuarioId] ON [dbo].[OpcionUsuario]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[OpcionMenu]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OpcionMenu_dbo.OpcionMenu_PadreId] FOREIGN KEY([PadreId])
REFERENCES [dbo].[OpcionMenu] ([Id])
GO
ALTER TABLE [dbo].[OpcionMenu] CHECK CONSTRAINT [FK_dbo.OpcionMenu_dbo.OpcionMenu_PadreId]
GO
ALTER TABLE [dbo].[OpcionUsuario]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OpcionUsuario_dbo.OpcionMenu_MenuId] FOREIGN KEY([MenuId])
REFERENCES [dbo].[OpcionMenu] ([Id])
GO
ALTER TABLE [dbo].[OpcionUsuario] CHECK CONSTRAINT [FK_dbo.OpcionUsuario_dbo.OpcionMenu_MenuId]
GO
ALTER TABLE [dbo].[OpcionUsuario]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OpcionUsuario_dbo.Usuario_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[OpcionUsuario] CHECK CONSTRAINT [FK_dbo.OpcionUsuario_dbo.Usuario_UsuarioId]
GO
USE [master]
GO
