@{
    ViewBag.Title = "Inicio";
}
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
<body>
    <div class="content-wrapper">
        <section class="content-wrappercontenido main-content clear-fix">
            <div class="content-imagencentro">
                <a>
                    <img src="~/Content/images/band.gif" height="415" width="930">
                </a>
                <p></p>
                <p></p>
            </div>
            <p></p>
            <p></p>
        </section>
    </div>
</body>
}