input.input-validation-error {
    border: 1px solid #e80c4d;
}
body.ocultar_scroll {
    overflow:hidden !important;
}
.ebody_table1{
    height: 360px;
    overflow: hidden;
    overflow-x:scroll;
    overflow-y: scroll;
    background-color: #FFF;
    position:relative;
}
    .ebody_table1.loading:after {
        background-image: url('../../images/ajax-loader.gif');
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgba(200, 200, 200, 0.6);
        content: "";
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }
.ebody_table{
    height: 360px;
    overflow: hidden;
    overflow-x:scroll;
    overflow-y: scroll;
    background-color: #FFF;
    position:relative;
}
    .ebody_table.loading:after {
        background-image: url('../../images/ajax-loader.gif');
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgba(200, 200, 200, 0.6);
        content: "";
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }
.ebody_table table {
    margin:0;
    width:100%;

}
    .ebody_table table th:first-child, .ebody_table table tbody td:first-child{
        width:100px;
    }
.ebody_table table th:last-child,.ebody_table table tbody td:last-child {
    display:none;
}
.ebody_table table th {
    background-color: #9B9B9B;
    color: #FCFCFC;
    border: none;
    text-align: center;
}
.ebody_table table tbody tr {
    background-color: #F7F7F7;
    border: 1px solid #D3D3D3;
    color: #717171;
    cursor:pointer;
}
    .ebody_table table tbody tr.alt {
        background-color: #EAEAEA;
    }
    .ebody_table table tbody tr:hover {
        background-color: #FFF;
    }
    .ebody_table table tbody tr.selected {
        background-color:#DBEFEA;
    }
.ebody_table table td, .ebody_table table th {
    padding: 2px 5px;
    text-align: center;
}

.efoot {
    text-align:right;
}
/**************************************************************/
.ocultar {
    display:none;
}
.contenedor_carpeta {
    position: relative;
    padding-top: 18px;
}
    .contenedor_carpeta .archivo {
        border-bottom: 1px solid #5e7582;
        width: 200px;
        background: #5e7582;
        font: 600 14px Tahoma;
        color: #F5F5F5;
        position: absolute;
        top: -5px;
        right: 0px;
        text-align: center;
        height: 23px;
        border-radius: 10px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        z-index: 100;
        vertical-align: middle;
        white-space: pre;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 5px;
    }
.contenedor_tabla {
    height: 260px;
    z-index: 100;
    overflow-y: scroll;
    border: 1px solid #252424;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 1px 3px 7px #8C939B;
}
.contenedor_tabla table{
    margin:0 auto;
    width:100%;
    display:table;
}
.contenedor_tabla table tbody tr:hover {
        background-color:#679FAD;
        color:#f7f7f7;
        cursor:pointer;
    }
    .contenedor_tabla tbody tr.clicked {
        background-color:#5e7582;
        color:#f7f7f7;
    }
    .contenedor_tabla table tbody tr.clicked:hover {
        background-color: #5e7582;
        color:#f7f7f7;
    }
.contenedor_tabla.gif:after {
    background-image:url('../../images/matricula/cargando.gif');
    background-repeat:no-repeat;
    background-position:center;
    background-size:12%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 20px;
    content:"";
}
