   .edit-mode { }
.edit-user{}
.edit-user display-mode{}
.save-user edit-mode{}
.display-mode{}
.cancel-user{}
.webgrid-table
{
    
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    width: 100%;
    display: table;
    border-collapse: collapse;
    border: solid #00c6ff;
    background-color: lightyellow;
     
}
.webgrid-table td, th
{
    border: 1px solid lightblue;
    padding: 3px 7px 2px;
}
.webgrid-header, .webgrid-header a
{
    
    color:black;
    text-align: center;
    background-color:#00c6ff;
   
    
    
}
.webgrid-footer
{
}
.webgrid-row-style
{
    padding: 3px 7px 2px;
}
.webgrid-alternating-row
{
    background-color: #F5F5F5;
    padding: 3px 7px 2px;
}
.SelectedItem
{
    background-color: #1E90FF;
    padding: 3px 7px 2px;
}
.webgrid-verificacion-Reg
{
    background-color: #ff0000;
    padding: 3px 7px 2px; 
}
.webgrid-verificacion
{
     background:#202020;
	 font:bold 12px Arial, Helvetica, sans-serif;
	 margin:0;
	 padding:0;
	 color:#bbbbbb; 
}
.col1Width
{
    width: 60px;
}
.col2Width
{
    width: auto;


 
/*   Estilos para los toltiptex de las imagenes de la grid  */
    

     

	 background:#202020;
	 font:bold 12px Arial, Helvetica, sans-serif;
	 margin:0;
	 padding:0;
	 min-width:960px;
	 color:#bbbbbb; 
}

a { 
	text-decoration:none; 
	color:#00c6ff;
}

h1 {
	font: 4em normal Arial, Helvetica, sans-serif;
	padding: 20px;	margin: 0;
	text-align:center;
}

h1 small{
	font: 0.2em normal  Arial, Helvetica, sans-serif;
	text-transform:uppercase; letter-spacing: 0.2em; line-height: 5em;
	display: block;
}

h2 {
    font-weight:700;
    color:#bbb;
    font-size:20px;
}

h2, p {
	margin-bottom:10px;
}

.container {width: 960px; margin: 0 auto; overflow: hidden; height:910px;}

.tooltip {
	display:none;
	position:absolute;
	border:1px solid #00c6ff;
	background-color:lightyellow;
	border-radius:5px;
	padding:10px;
	color:black;
	font-size:12px;
    
}

SelectedItem:hover td{
    background-color:#FFD700;
	/*background-color:#00c6ff;*/
	cursor:pointer;
}

.webgrid-verificacion-Reg:hover td{
    background-color:#FFD700;
	/*background-color:#00c6ff;*/
	cursor:pointer;
}
.webgrid-row-style:hover td{
    background-color:#FFD700;
	/*background-color:#00c6ff;*/
	cursor:pointer;
}

 .webgrid-alternating-row:hover td{
	/*background-color:#00c6ff;*/
    background-color:#FFD700;
	cursor:pointer;
}

