
@{
    ViewBag.Title = "Acceso Denegado";
}

<div class="content-wrapper">
    <div class="content-wrappercontenido main-content clear-fix">
        <style>
            .infor {
                background-color: #0358AF;
                background-repeat: no-repeat;
                background-size: 8%;
                background-position: 10px 20px;
                font: 900 16px Tahoma;
                color: #FFF;
                width: 75%;
                padding: 35px 100px;
                text-align: center;
                text-shadow: 5px 4px 10px #000;
                margin: 25px auto;
                border-radius: 20px;
                border-color: white !important;
                box-shadow: 5px 5px 10px #000;
                border: 1px solid;
                background-image: url('../Content/images/info.png');
            }
        </style>
        <div class="infor">
            <h2 style="text-align: center;font: 900 16px Tahoma;color: white;">Acceso denegado</h2>
        </div>
    </div>
</div>

